<section class="section__page--register">
  <h1>Create account</h1>
  <form>
    <mat-form-field class="w-full">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter name" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Enter e-mail" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="mat__button--send">
      <button mat-flat-button color="primary" class="w-full">Create</button>
    </div>
  </form>

  <a routerLink="/auth/sign-in" class="return__auth">Login</a>
</section>
